html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    color: $default;
    background-color: #fff;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}