$bg: #fff;
$accent: #436372;
$default: #8b8b8b;
$title: #243f4d;
$brand-color-one: #edf1f4;
$brand-color-two: #a3bbc8;
$brand-color-tree:#fcd7b6;
$footer: #7b7b7b;
$footer-title: #1f2044;
$footer-input-bg: #fef7f0;
%dmsans-400 {
    font-family: DMSans-Regular, sans-serif;
    font-weight: 400;
}

%dmsans-700 {
    font-family: DMSans-Bold, sans-serif;
    font-weight: 700;
}

%dmsans-500 {
    font-family: DMSans-Medium, sans-serif;
    font-weight: 500;
}

%rubik-400 {
    font-family: Rubik-Regular, sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: Rubik-Medium, sans-serif;
    font-weight: 500;
}